# Binaries for programs and plugins
main
untitled19
*.exe
*.exe~
*.so
*.dylib
*.dll

valids.txt

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
